body {
    margin: 0;
}
#container{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(174, 119, 225);
}
header {
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 2%;
    display: flex;
}
.header1{
    width: 10%;
}
.header2{
    width: 45%;
}
.header3{
    width: 30%;
    float: right;
}
#principal{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
}
#content{
    width: 90%;
    float: left;
    
}
.palote{
    font-weight: bold;
    font-size: 34px;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    text-align:center;
    font-size: 24px;
    }
a {
    position: relative;
    padding: 18px 38px;
    margin: 45px 0;
    color: #21ebff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
}
a::before{
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}
a::after{
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}
a:hover::before,
a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
a:hover {
    background: #21ebff;
    color: #000;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
}